* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=======share style=========*/
.container {
  width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  color: rgb(39, 39, 39);
}

.sub-title {
  font-size: 40px;
  font-weight: 800;
  color: rgb(39, 39, 39);
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
}

button {
  font-size: 20px;
  font-weight: 700;
  color: white;

  border: none;
  border-radius: 8px;
  padding: 20px 43px;
  background: rgb(229, 84, 115);
}

/*=======Banner style=========*/
header {
  max-width: 1922px;
  padding-top: 50px;
  background: rgba(229, 84, 115, 0.1);
}

.banner {
  display: flex;
  gap: 97px;
  align-items: center;
  justify-content: space-between;
  height: 800px;
}

.banner-text {
  flex: 1;
}

.banner-text p {
  margin: 32px auto;
}

.banner-img {
  flex: 1;
  height: 800px;
}

.banner-img img {
  height: 100%;
}

/*=======Feature Section Style=========*/
.feature-section {
  margin-top: 178px;
  text-align: center;
}

.feature-section p {
  margin: 24px auto 48px;
  width: 594px;
}

.feature-cards {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flower-img {
  padding: 110px 78px 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.flower-img img {
  width: 310px;
  height: 428px;
}

.flower-name {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(39, 39, 39);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.service-section {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 128px;
  padding: 86px 175px;
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(39, 39, 39, 0.05);
}

.service-items {
  text-align: center;
}

.service-items img {
  margin: 0 auto;
  max-width: 88px;
}

.service-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.8);
}

/*=======Hot Deal Section Style=========*/
.hot-deal-section {
  margin-top: 128px;
  max-width: 1922px;
  border-radius: 8px;
  padding: 100px;
  background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
  gap: 186px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hot-deal-text {
  width: 594px;
  text-align: center;
}

.hot-deal-text p {
  margin: 24px 0 32px;
}

.hot-deal-text span {
  color: rgb(229, 84, 115);
}

.hot-deal-img img {
  width: 318px;
}

/*=======Instagram Section Style=========*/
.instagram-section {
  text-align: center;
  margin: 128px auto;
}

.instagram-section p {
  margin: 24px auto 48px;
  width: 594px;
}

.instagram-flower-cards {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram-flower-cards img {
  width: 342px;
}
